<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Take Photo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <img alt="Photo" [src]="photo" class="center" />
  <ion-item class="center" *ngIf="latitude && longitude">
    <ion-label class="center" position="fixed" text-wrap>Latitude: {{ latitude }}</ion-label>
    <ion-label class="center" position="fixed" text-wrap>Longitude: {{ longitude }}</ion-label>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>