<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> GPhoto </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label text-wrap><h1>Photo & location</h1></ion-label>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>This app lets you to take a picture and tells your exact location</ion-label>
  </ion-item>

  <div id="container">
    <ion-button routerLink="/photo">Take Photo</ion-button>
    <ion-button routerLink="/items">Photos</ion-button>
  </div>

</ion-content>