<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> GPhoto </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>

    <ion-card>
      <ion-item>
        <ion-icon name="image" slot="start"></ion-icon>
        <ion-label>Photos & locations</ion-label>
      </ion-item>
      <ion-card-content>
        This app lets you to take a picture and tells your exact location
      </ion-card-content>
    </ion-card>
  </ion-item>
  <div id="container">
    <ion-button routerLink="/photo">Take Photo</ion-button>
    <ion-button routerLink="/items">Photos</ion-button>
  </div>

</ion-content>